* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cards-container {
  width: 100%;
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  /* background-color: rgba(3, 49, 75, 1); */
}

@media screen and (min-width: 420px) and (max-width: 768px) {
  .cards-container {
    padding: 20px;
  }
}

@media only screen and (max-width: 419px) {
  .cards-container {
    padding: 10px;
  }
}
