.carousel-container {
  height: 150px;
  /* background-color: rgba(3, 49, 75, 1); */
}

.categories-button {
  width: 300px;
  height: 80px;
  outline: inherit;
  border-style: none;
  border-radius: 10px;
  border: solid 1px #274e64;
  background-color: rgba(3, 49, 75, 1);
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 17px;
  color: whitesmoke;
}

.selected-category {
  background-color: #1ecc97;
  border: none;
}

@media screen and (min-width: 321px) and (max-width: 768px) {
  .categories-button {
    width: 250px;
    height: 80px;
    font-size: 16px;
  }
}

@media only screen and (max-width: 320px) {
  .categories-button {
    width: 200px;
    height: 70px;
    font-size: 14px;
  }
}
