@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@800&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.carousel-container {
  height: 150px;
}

.categories-button {
  width: 300px;
  height: 80px;
  outline: inherit;
  border-style: none;
  border-radius: 10px;
  border: solid 1px #274e64;
  background-color: rgba(3, 49, 75, 1);
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  text-align: center;
  font-family: "JetBrains Mono", monospace;
  font-size: 20px;
  color: whitesmoke;
  cursor: pointer;
}

.selected-category {
  background-color: #1ecc97;
  border: none;
}

.loading-categories {
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
  font-size: 20px;
}

@media screen and (min-width: 321px) and (max-width: 768px) {
  .categories-button {
    width: 260px;
    height: 80px;
    font-size: 18px;
  }
}

@media only screen and (max-width: 320px) {
  .categories-button {
    width: 200px;
    height: 70px;
    font-size: 14px;
  }
}
