/********** Components **********/
/* Modal */
.products-modal {
  position: fixed;
  z-index: 999;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00000070;
  transition: all 1s;
}

.products-modal-article {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  max-width: 37rem;
  padding: 3rem 3rem;
  color: #fff;
  border-radius: 10px;
  background-color: #03314b;
}

.products-modal-content {
  position: relative;
}

.products-modal-form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: inherit;
}

/* Btn modal close */

.btn-modal-close-container {
  position: absolute;
  top: 15px;
  right: 15px;
}

.btn-modal-close span {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 1.5rem;
  height: 1.5rem;
}

.btn-modal-close {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 980;
  width: 2rem;
  height: 2rem;
  font-size: 1.5rem;
  color: #fff;
  background-color: #03314b;
  border: none;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
}

.btn-modal-close:hover {
  opacity: 0.7;
  transition: all ease-in-out .1s;
}

/* Imagen */
.img {
  max-width: 100%;
  height: auto;
}

/* .products-modal-file {
  
} */

.products-modal-article .products-modal-img-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 13rem;
  margin-bottom: 2rem;
  border: thin solid #1ecc97;
  border-radius: 10px;
}

.products-modal-article .products-modal-img-container input {
  cursor: pointer;
}

.products-modal-img {
  position: absolute;
}
.products-modal-article .products-modal-img-container img {
  width: inherit;
  height: inherit;
  position: absolute;
  padding: 10px;
}
/* Estilos de las div que contienen los inputs */

.products-modal-form div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
  width: 100%;
}

.products-modal-form .flex-center {
  justify-content: center;
}

/* Estilos de los inputs */

/* Inputs type text */
.products-modal-form div input[type="text"] {
  width: 40%;
  padding: .3rem;
  padding-left: 0;
  border: 0;
  border-bottom: thin solid #1ecc97;
  font-size: 1rem;
  color: #fff;
  background-color: #03314b;
  caret-color: #fff;
  outline: none;
}

.products-modal-form div input[type="text"]::placeholder {
  font-size: 1rem;
  color: #fff;
}

/* inputs type number */
.products-modal-form div input[type="number"] {
  width: 40%;
  padding: .3rem;
  padding-left: 0;
  border: 0;
  border-bottom: thin solid #1ecc97;
  font-size: 1rem;
  color: #fff;
  background-color: #03314b;
  caret-color: #fff;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: textfield;
}
.products-modal-form div input[type="number"]::placeholder {
  font-size: 1rem;
  color: #fff;
}
.products-modal-form textarea {
  text-align: left;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.products-modal-form div select {
  width: 40%;
  padding: .3rem;
  padding-left: 0;
  border: 0;
  border-bottom: thin solid #1ecc97;
  font-size: 1rem;
  color: #fff;
  background-color: #03314b;
  caret-color: #fff;
  outline: none;
}

/* Input cantidad de productos */

.products-modal-form .form-number-products.flex-right {
  justify-content: center;
}

.products-modal-article label {
  font-size: 1.1rem;
}

.products-modal-form .form-number-products {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.products-modal-form #number-products {
  width: 24%;
  padding: 0;
  padding-top: 0.3rem;
  border: 0;
}

.products-modal-form .form-number-products label {
  padding: 0.3rem;
  padding-left: 0;
  border-bottom: thin solid #1ecc97;
}

/* input type checkbox */

.products-modal-form .form-featured-product {
  margin-bottom: 1.5rem;
}

/* select y div contenedora del select */
.products-modal-form .form-category-product {
  display: initial;
  width: 40%;
  margin-left: -200px;
  float: right;
}

.products-modal-form .form-category-product select {
  width: 100%;
}

/* form featured product */
.products-modal-form .form-featured-product {
  width: 100%;
  margin: 0;
}

/*Text-area*/
.products-modal-article textarea {
  width: 90%;
  padding: .5rem;
  margin-bottom: 2rem;
  font-size: 1rem;
  color: #fff;
  border: thin solid #1ecc97;
  border-radius: 10px;
  background-color: #03314b;
  caret-color: #fff;
  resize: none;
}

.products-modal-article textarea::placeholder {
  font-size: 1rem;
  color: #fff;
}

.products-modal-article textarea:focus {
  outline: none;
}

/*Btn*/
.products-modal-article input[type="button"] {
  width: 45%;
  padding: .5rem;
  font-size: 1rem;
  color: #fff;
  border: none;
  border-radius: 10px;
  background-color: #1ecc97;
  outline: none;
}

.products-modal-article .products-modal-form .form-name-category input::placeholder,
.products-modal-article .products-modal-form .form-name-category select::placeholder,
.products-modal-article .products-modal-form .form-price-discount input::placeholder,
.products-modal-article .products-modal-form .form-category-product::placeholder,
.products-modal-article .products-modal-form .form-number-products::placeholder {
  padding-left: .25rem;
}

/********** Utilities **********/
.none {
  display: none;
  pointer-events: none;
}

@media screen and (max-width: 768px) {
  /* contenedor del modal */
  .products-modal-article {
    max-width: 18rem;
    padding: 2rem 1rem;
  }

  /* formulari */
  .products-modal-article .products-modal-form {
    align-items: center;
  }

  /* Btn modal close */
  .btn-modal-close-container {
    top: 0;
    right: 0;
  }

  /* contenedor de la imágen */
  .products-modal-article .products-modal-img-container {
    justify-content: center;
    gap: 0;
    width: 100%;
    height: 8rem;
    padding: 1rem;
  }

  .products-modal-article .products-modal-img-container input {
    width: 100%;
  }

  /* contenedores de las divs y estilos de los inputs */
  .form-name-category,
  .form-price-discount {
    flex-direction: column;
    width: 80%;
  }

  .products-modal-article .products-modal-form .form-name-category input,
  .products-modal-article .products-modal-form .form-name-category select,
  .products-modal-article .products-modal-form .form-price-discount input,
  .products-modal-article .products-modal-form .form-category-product,
  .products-modal-article .products-modal-form .form-number-products {
    width: 80%;
  }

  .products-modal-article .products-modal-form .form-number-products label {
    width: 50%;
  }
}